.table-container{
    
	width: 90%;
	margin-left: 20px;
    margin-right: 20px;
	
	
}
.libre{
	background-color: green;
}
.ocupado{
	background-color: red;
}

.opciones {
	margin: 20px;
}
.fraccionada{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,04f739+100 */
background: #ff3019; /* Old browsers */
background: -moz-linear-gradient(top,  #ff3019 0%, #04f739 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ff3019 0%,#04f739 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ff3019 0%,#04f739 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#04f739',GradientType=0 ); /* IE6-9 */

}